<h3><%= @question.title %></h3>

<p><%= @question.content %></p>


<%= link_to 'Edit Question', edit_question_path(@question),
  class: 'btn btn-info' %>

<%= link_to 'Delete Question', question_path(@question), :data => {:method => 'delete'},
  class: 'btn btn-danger' %>

<hr />
<%= link_to 'Add Response?', new_question_response_path(@question) %>
<hr />

<h4>Answers:</h4>

<ul>
  <% @question.responses.each do |response| %>
    <li><%= response.answer %></li>
  <% end %>
</ul>

<hr />

<%= link_to 'Back to Home Page', questions_path %>
